body{
    background-color: rgb(192, 192, 192);
}

.main-section .card{
    height: 130px;
    margin-bottom: 10px;
}

.player-section .card{
    margin-bottom: 10px;
}

.player-section .card .btn{
    background-color: white;
    width: 20%;
    text-align: center;
}
 
.btn{
    font-size: 20px;
}

.modal{
    width: 100;
}

.card-header{
    background-color: hotpink;
}